@page "/apidocs"
@page "/apidocs/{containerId}"

@using ContainerControlPanel.Domain.Models
@using ContainerControlPanel.Web.Components.Icons
@using MudBlazor

<script>
	function copyToClipboard(text) {
	navigator.clipboard.writeText(text).then(function () {
	}, function (err) {
	console.error('Async: Could not copy text: ', err);
	});
	}

	function colorizeJson(jsonString) {
	try {
	const json = JSON.parse(jsonString);
	return syntaxHighlight(json);
	} catch (e) {
	console.error("Invalid JSON", e);
	return jsonString;
	}
	}

	function syntaxHighlight(json) {
	if (typeof json !== 'string') {
	json = JSON.stringify(json, undefined, 2);
	}
	json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
	return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*")(\s*:)?|(\b(true|false|null)\b)|(-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match, p1, p2, p3, p4, p5, p6) {
	if (p3) {
	return `<span style="color: #9CDCFE;">${p1}</span>${p3 || ''}`;
	} else if (p4) {
	return `<span style="color: #CE9178;">${match}</span>`;
	} else if (p6) {
	return `<span style="color: #A7CE89;">${match}</span>`;
	} else {
	return `<span style="color: #CE9178;">${match}</span>`;
	}
	});
	}
</script>

<div class="flex">
	<div class="label">
		@Localizer[Locales.Resource.ApiDocs]
	</div>
	<div class="container-id">
		<MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Placeholder="@Localizer[Locales.Resource.ChooseContainer]" TransformOrigin="Origin.TopCenter" @bind-Value="containerId">
			@foreach (var container in containers)
			{
				<MudSelectItem Value="@container.ContainerId">@container.Names</MudSelectItem>
			}
		</MudSelect>
	</div>
	@if (savedRequests.Count > 0)
	{		
		<div class="history-btn">
			<MudTooltip Text="@Localizer[Locales.Resource.History]" ShowOnFocus="false" ShowOnClick="false">
				<MudIconButton Color="Color.Default" OnClick="() => { historyExpanded = !historyExpanded; }" Icon="@Icons.Material.Outlined.History"></MudIconButton>
			</MudTooltip>
		</div>		
	}	
</div>

<MudCollapse Expanded="historyExpanded"> 
	<div class="history-container">
		<MudList T="string">
			@foreach (var date in historyDates.OrderByDescending(x => x)) 
			{
				<MudListItem Style="--mud-typography-body1-size: 12px; color: #6A6A6A; padding: 0; padding-left: 8px; padding-right: 8px; border-radius: 3px;" Text="@(date.ToString("MMMM d"))" Expanded>
					<NestedList>
						@foreach (var request in savedRequests.Where(r => r.CallTime.Date == date.Date).OrderByDescending(r => r.CallTime))
						{
							string primary = GetActionStyle(request.HttpMethod).Primary;
							<div class="single-request">
								<span style="color: @primary; width: 50px; margin-right: 8px; text-align: right; font-size: 10px; font-weight: 500;">
									@request.HttpMethod.ToUpper()
								</span>
								@request.URL
							</div>
						}
					</NestedList>
				</MudListItem>
			}
		</MudList>
	</div>
</MudCollapse>

@if (controllers.Count > 0)
{	
	<div class="list-container">
		<MudList T="string">
			@foreach (var controller in controllers)
			{
				<MudListItem Style="--mud-typography-body1-size: 20px; padding-left: 24px; border-radius: 5px;" Text="@controller.Name" Expanded>
					<NestedList>
						@foreach (var action in controller.Actions)
						{
							var (primary, listItemStyle) = GetActionStyle(action.HttpMethod);

							<MudListItem Style="@(listItemStyle)">
								<ChildContent>
									<div class="endpoint-label">
										<div class="endpoint-method" style="background-color: @(primary);">
											@action.HttpMethod.ToUpper()
										</div>
										@action.Route
									</div>
								</ChildContent>
								<NestedList>
									<div class="endpoint-details" style="border-color: @(primary);">
										@if (!string.IsNullOrEmpty(action.Summary))
									{
										<div class="summary">
											@action.Summary
										</div>
										<MudDivider Class="opacity-100" />
									}									
									<div class="section">
										<div class="section-label @(action.CurrentTabIndex == 0 ? "label-active": "label-inactive")" @onclick="() => { action.CurrentTabIndex = 0; }">
											Parameters
										</div>
										<div class="section-label @(action.CurrentTabIndex == 1 ? "label-active" : "label-inactive")" @onclick ="() => { action.CurrentTabIndex = 1; }">
											Headers
										</div>
										<div class="section-button">
											<MudButton Color="action.TryOut ? Color.Warning : Color.Default" @onclick="() => { TryOut(action); }" Variant="Variant.Outlined">@(action.TryOut ? @Localizer[Locales.Resource.Cancel] : @Localizer[Locales.Resource.TryItOut])</MudButton>
										</div>
									</div>
									<MudDivider Class="opacity-100" />
									@switch (action.CurrentTabIndex)
									{
										case 0:
											@if (action.Parameters.Where(p => p.Source == "Query" || p.Source == "Route").Count() < 1)
											{
												<div class="param-key">No parameters</div>
											}
											@foreach (var param in action.Parameters.Where(p => p.Source == "Query" || p.Source == "Route"))
											{
												<div class="param-row">
													<div class="param-key">
														<div class="param-name">@param.Name</div>
														<div class="param-type">@param.Type.Name</div>
														<div class="param-source">(query)</div>
													</div>
													<div class="param-input">
														<MudTextField Error="param.Error" ErrorText="@Localizer[Locales.Resource.Required]" Disabled="!action.TryOut" Label="@param.Name" Variant="Variant.Outlined" @bind-Value="param.TestValue"></MudTextField>
													</div>
												</div>
											}
											break;
										case 1:
											@if (headers.Count < 1)
											{
												<div class="param-key">No headers</div>
											}
											@foreach (var header in headers.Where(h => h.Action == action.Name))
											{
												<div class="header-row">
													<MudTextField Error="header.Error" Style="font-size: 12px;" Text="@header.Key" Variant="Variant.Outlined" @bind-Value="header.Key"></MudTextField>
													<MudTextField Error="header.Error" Style="font-size: 12px;" Text="@header.Value" Variant="Variant.Outlined" @bind-Value="header.Value"></MudTextField>
													<MudTooltip Text="@Localizer[Locales.Resource.Remove]">
														<MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" @onclick="@(() => { headers.Remove(header); })" />
													</MudTooltip>
												</div>
											}
											<div class="add-btn">
												<MudTooltip Text="@Localizer[Locales.Resource.Add]">
													<MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Add" @onclick="@(() => { headers.Add(new Header { Action = action.Name, Key = "", Value = "" }); })" />
												</MudTooltip>
											</div>
											break;
									}
										
										@if (action.Parameters.Any(p => p.Source == "Body")) 
										{
											<MudDivider Class="opacity-100" />
											<div class="section">
												<div class="section-label">
													Request Body
												</div>
											</div>
											<MudDivider Class="opacity-100" />
											<div class="body-container">
												@if (action.TryOut) 
												{
													<MudTextField AutoGrow T="string" Variant="Variant.Outlined" @bind-Value="action.TestRequestBody"></MudTextField>
												}
												else 
												{
													@if (!action.Parameters.Find(p => p.Source == "Body").Type.Structure.Properties.Any())
													{
														@($"\"{action.Parameters.Find(p => p.Source == "Body").Type.Name.ToLower()}\"")
													}
													else
													{
														<pre>
															@((MarkupString)action.RequestBodyFormatted)
														</pre>
													}
												}																							
											</div>																				
										}
										@if (action.TryOut) 
										{
											<div class="execute-button">
											<MudButton @onclick="async () => { await ExecuteAction(action); }" FullWidth="true" Color="Color.Primary" Variant="Variant.Filled">@Localizer[Locales.Resource.Execute]</MudButton>
												@if (action.Loading)
												{
													<div class="spinner">
														<MudProgressCircular Color="Color.Primary" Indeterminate="true" />
													</div>
												}
											</div>
										}										
										<MudDivider Class="opacity-100" />
										@if (action.ReturnType != null) 
										{
											<div class="section">
												<div class="section-label">
													Response Body
												</div>
											</div>
											<MudDivider Class="opacity-100" />
											@if (!string.IsNullOrEmpty(action.TestResponseStatusCode)) 
											{
												<div class="body-container">
													<pre>
														@action.TestRequestCurl
													</pre>
												</div>
												<div class="action-result-row">
													<span class="status-code">@action.TestResponseStatusCode</span>
													<span class="status-desc">@action.TestResponseStatusDescription</span>
												</div>
											}
											if (!string.IsNullOrEmpty(action.TestResponseBody))
											{
												<div class="body-container">
													<pre>
														@((MarkupString)action.TestResponseBody)
													</pre>
												</div>

												<div class="body-container">
													<pre>
														@((MarkupString)action.TestResponseHeaders)
													</pre>
												</div>		
											}
											else if (string.IsNullOrEmpty(action.TestResponseStatusCode))
											{
												@if (action.ReturnType.Name == "IActionResult" || action.ReturnType.Name == "Void")
												{
													<div class="action-result-row">
														<span class="status-code">200</span>
														<span class="status-desc">Success</span>
													</div>
												}
												else if (action.ReturnType.Name.IsPrimitiveType())
												{
													<div class="body-container">
														@action.ReturnType.Name.ToLower()
													</div>
												}
												else 
												{											
													<div class="body-container">
														<pre>
															@((MarkupString)action.ResponseBodyFormatted)
														</pre>
													</div>
												}							
											}
										} 
									</div>
								</NestedList>
							</MudListItem>
						}				
					</NestedList>
				</MudListItem>
			}
		</MudList>
	</div>
}

@if (containerId == null) 
{
	<div class="not-found">
		<Braces Class="not-found"/>
		@Localizer[Locales.Resource.ChooseContainerTo].
	</div>
}

@if (apiDocsNotImplemented)
{
	<div class="not-found">
		<NotFound />
		@Localizer[Locales.Resource.ApiDocsNotImplemented].
	</div>
}