@page "/"
@page "/containers"
@page "/containers/{LiveFilter}"

@using ContainerControlPanel.Web.Enums
@using MudBlazor
@using Locales
@using ContainerControlPanel.Domain.Models
@inject ISnackbar Snackbar

<div class="label">
	<h1>@Localizer[Locales.Resource.Containers]</h1>
	@if (!bool.Parse(Configuration["Realtime"]))
	{
		<div style="width: 100px;">
			<MudIconButton @onclick="async () => { await Refresh(); }" Color="Color.Primary" Icon="@Icons.Material.Filled.Refresh" />
		</div>
	}
	<div style="margin-left: auto; margin-right: 4px;">
		@if (composeFiles.Count > 0)
		{
			<AuthorizeView Roles="Administrator">
				<MudTooltip Text="@Localizer[Locales.Resource.ViewComposeDir]" ShowOnFocus="false" ShowOnClick="false">
					<MudIconButton @onclick="async () => { await OpenComposesDirectoryDialogAsync(); }" Color="Color.Default" Icon="@Icons.Material.Filled.Source" />
				</MudTooltip>
			</AuthorizeView>
		}
	</div>
	<div style="margin-right: 4px;">
		@if (imageFiles.Count > 0)
		{
			<AuthorizeView Roles="Administrator">
				<MudTooltip Text="@Localizer[Locales.Resource.ViewImagesDir]" ShowOnFocus="false" ShowOnClick="false">
					<MudIconButton @onclick="async () => { await OpenImagesDirectoryDialogAsync(); }" Color="Color.Default" Icon="@Icons.Material.Filled.FolderZip" />
				</MudTooltip>
			</AuthorizeView>
		}
	</div>
	<div style="margin-right: 4px;">
		@if (imageFiles.Count > 0)
		{
			<AuthorizeView Roles="Administrator">
				<MudTooltip Text="@Localizer[Locales.Resource.ViewImages]" ShowOnFocus="false" ShowOnClick="false">
					<MudIconButton @onclick="async () => { await OpenImagesListDialogAsync(); }" Color="Color.Default" Icon="@Icons.Material.Filled.CloudCircle" />
				</MudTooltip>
			</AuthorizeView>
		}
	</div>
	<div style="margin-right: 14px;">
		@if (volumes.Count > 0)
		{
			<AuthorizeView Roles="Administrator">
				<MudTooltip Text="@Localizer[Locales.Resource.ViewVolumes]" ShowOnFocus="false" ShowOnClick="false">
					<MudIconButton @onclick="async () => { await OpenVolumesListDialogAsync(); }" Color="Color.Default" Icon="@Icons.Material.Filled.Memory" />
				</MudTooltip>
			</AuthorizeView>
		}
	</div>
	<div style="width: 200px;">
		<MudSelect Immediate="true" T="bool" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" @bind-Value="liveFilter">		
			<MudSelectItem Value="true">@Localizer[Locales.Resource.Running]</MudSelectItem>
			<MudSelectItem Value="false">@Localizer[Locales.Resource.All]</MudSelectItem>
		</MudSelect>
	</div>
</div>

<div class="data-grid">
	<div class="data-grid-row header">
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.ContainerId]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Name]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Status]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Image]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Ports]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.CreatedAt]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Action]
		</div>
	</div>
	@if (containers.Count < 1)
	{
		<div class="not-found">
			@if (loading) 
			{
				<MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true"/>
			}
			else
			{
				<span>@Localizer[Locales.Resource.NoAliveContainers].</span>	
			}
		</div>
	}	
	else 
	{
		<div class="data-container">
			@foreach (var container in containers)
			{
				<div class="data-grid-row data">
					<div class="data-grid-cell">
						@container.ContainerId
					</div>
					<div class="data-grid-cell">
						@container.Names
					</div>
					<div class="data-grid-cell">
						@if (container.Status.StartsWith("Restarting")
													|| container.Status.StartsWith("Stopping...")
													|| container.Status.StartsWith("Starting..."))
						{
							<span class="loader"></span>
						}
						else if (container.Status.StartsWith("Exited"))
						{
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#A6001A" class="status-check" viewBox="0 0 16 16">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
							</svg>
						}
						else
						{
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="status-check" viewBox="0 0 16 16">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
							</svg>
						}
						<div class="status-label">
							@container.Status
						</div>					
					</div>
					<div class="data-grid-cell">
						<div class="text-overflow">
							@container.Image
						</div>
					</div>
					<div class="data-grid-cell">
						@container.Ports
					</div>
					<div class="data-grid-cell">
						@container.Created.ToString("dd/MM/yyyy")
					</div>
					<div class="data-grid-cell">
						@{
							var composeFile = container.Labels.Contains("com.docker.compose.project.config_files=")
								? container.Labels.TryGetComposeFile(composeFiles)
								: container.Names.TryGetComposeFileByServiceName(composeFiles);
						}
						<AuthorizeView Roles="Administrator">
							@if (!container.Status.Contains("Exited"))
							{
								<MudTooltip Text="@Localizer[Locales.Resource.Stop]" ShowOnFocus="false" ShowOnClick="false">
									<MudIconButton @onclick="async () => { await StopContainer(container.ContainerId, composeFile); }" Color="Color.Primary" Icon="@Icons.Material.Filled.Stop"/>
								</MudTooltip>
								<MudTooltip Text="@Localizer[Locales.Resource.Restart]" ShowOnFocus="false" ShowOnClick="false">
									<MudIconButton @onclick="async () => { await OpenStartContainerDialogAsync(container, ActionType.Restart); }" Color="Color.Primary" Icon="@Icons.Material.Filled.Refresh" />
								</MudTooltip>
							}
							else
							{
								<MudTooltip Text="@Localizer[Locales.Resource.Start]" ShowOnFocus="false" ShowOnClick="false">
									<MudIconButton @onclick="async () => { await OpenStartContainerDialogAsync(container, ActionType.Start); }" Color="Color.Primary" Icon="@Icons.Material.Filled.PlayArrow" />
								</MudTooltip>
							}
							<MudDivider Vertical="true" FlexItem="true" Class="opacity-100 mx-2"/>
						</AuthorizeView>
						<MudMenu AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopRight" Color="Color.Dark">
							<ActivatorContent>
								<MudTooltip Text="@Localizer[Locales.Resource.More]" ShowOnFocus="false" ShowOnClick="false">
									<MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.MoreHoriz" />
								</MudTooltip>
							</ActivatorContent>
							<ChildContent>
								<MudMenuItem @onclick="() => { OpenDetailsDialogAsync(container.ContainerId); }">@Localizer[Locales.Resource.ViewDetails]</MudMenuItem>
								<MudMenuItem @onclick="() => { ViewLogs(container.ContainerId); }">@Localizer[Locales.Resource.ViewLogs]</MudMenuItem>
								@if (IsASPNETCoreContainer(container.ContainerId))
								{
									<MudMenuItem @onclick="() => { ViewApiDocs(container.ContainerId); }">@Localizer[Locales.Resource.ViewAPIDocs]</MudMenuItem>
								}
								<AuthorizeView Roles="Administrator">
									@if (container.Labels.Contains("com.docker.compose.project.config_files=") || container.Names.TryGetComposeFileByServiceName(composeFiles) != null)
									{									
										<MudMenuItem @onclick="() => { OpenComposeFileEditDialogAsync(composeFile); }">@Localizer[Locales.Resource.EditCompose]</MudMenuItem>								
									}
								</AuthorizeView>
							</ChildContent>
						</MudMenu>
					</div>
				</div>
			}
		</div>
	}
</div>


