@page "/structuredlogs"
@page "/structuredlogs/{ResourceParameter}"
@page "/structuredlogs/{ResourceParameter}/{TimestampParameter}"
@page "/structuredlogs/{ResourceParameter}/{TimestampParameter}/{SeverityParameter}"
@page "/structuredlogs/{ResourceParameter}/{TimestampParameter}/{SeverityParameter}/{FilterParameter}"

@using MudBlazor
@using ContainerControlPanel.Domain.Models

<div class="label">
	<h1>@Localizer[Locales.Resource.StructuredLogs]</h1>
	@if (!bool.Parse(Configuration["Realtime"]))
	{
		<div style="width: 100px;">
			<MudIconButton @onclick="async () => { await LoadLogs(); }" Color="Color.Primary" Icon="@Icons.Material.Filled.Refresh" />
		</div>
	}
</div>

<div class="flex">
	<div class="select">
		<MudSelect T="string" Label="@Localizer[Locales.Resource.ChooseResource]" AnchorOrigin="Origin.BottomCenter" Placeholder="@Localizer[Locales.Resource.ChooseResource]" TransformOrigin="Origin.TopCenter" @bind-Value="currentResource">
			<MudSelectItem T="string" Value="@("all")">(@Localizer[Locales.Resource.All])</MudSelectItem>
			@foreach (var resource in logsRoot.GetResources())
			{
				<MudSelectItem T="string" Value="@resource">@resource</MudSelectItem>
			}
		</MudSelect>
	</div>
	<div class="select">
		<MudTextField Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Search" @bind-Value="currentFilter" Label="@Localizer[Locales.Resource.Filter]" Variant="Variant.Text"></MudTextField>
	</div>
	<div class="select">
		<MudDatePicker Label="@Localizer[Locales.Resource.ChooseTimestamp]" @bind-Date="currentTimestamp" Clearable="true" DateFormat="dd.MM.yyyy" />
	</div>
	<div class="select">
		<MudSelect Label="@Localizer[Locales.Resource.ChooseSeverity]" T="string" AnchorOrigin="Origin.BottomCenter" Placeholder="@Localizer[Locales.Resource.ChooseSeverity]" TransformOrigin="Origin.TopCenter" @bind-Value="currentSeverity">
			<MudSelectItem T="string" Value="@("all")">(@Localizer[Locales.Resource.All])</MudSelectItem>
			<MudSelectItem T="string" Value="@("Information")">Information</MudSelectItem>
			<MudSelectItem T="string" Value="@("Warning")">Warning</MudSelectItem>
			<MudSelectItem T="string" Value="@("Error")">Error</MudSelectItem>
		</MudSelect>
	</div>
</div>

<div class="data-grid">
	<div class="data-grid-row header">
		<div class="data-grid-cell">
			@Localizer[Locales.Resource._Resource]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Severity]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Timestamp]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Message]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Trace]
		</div>
	</div>
	@{
		var logs = logsRoot.GetStructuredLogs(int.Parse(Configuration["TimeOffset"]), currentResource, currentSeverity, currentTimestamp, currentFilter, true);
	}
		<div class="data-container">
	@foreach (var log in logs)
	{
		<div @onclick="() => { detailsDrawer = true; currentLog = logsRoot.GetLogDetails(log); }" class="data-grid-row data">
			<div class="data-grid-cell text-overflow">
				<div class="resource-badge" style="background-color: #@(GetHexString(log.ResourceName));"></div>
				@log.ResourceName
			</div>
			<div class="data-grid-cell">
				@log.Severity
			</div>
			<div class="data-grid-cell">
				@log.Timestamp.Value.ToString("dd.MM.yyyy HH:mm:ss")
			</div>
			<div class="data-grid-cell text-overflow">
				<MudHighlighter Text="@log.Message" HighlightedText="@currentFilter"
								Style="padding: 0;"/>
			</div>
			<div class="data-grid-cell">
				@log.TraceId
			</div>
		</div>
	}
	</div>
	@if (logs.Count == 0)
	{
		<div class="not-found">
			@Localizer[Locales.Resource.NoLogsFound].
		</div>
	}
</div>
<div class="footer">
	@Localizer[Locales.Resource.TotalNumberOfFoundLogs]: <b>@logs.Count</b>
</div>

<MudDrawer 
	@bind-Open="@detailsDrawer" 
	OverlayAutoClose="true"
	Anchor="Anchor.End" 
	Elevation="5" 
	Variant="@DrawerVariant.Temporary" 
	Color="Color.Dark"
	Width="680px"
	Height="100%">
	@if (currentLog != null) 
	{
		<div class="drawer-label">
			@Localizer[Locales.Resource.LogDetails]
			<div style="margin-left: auto;">
				<MudIconButton @onclick="_ => detailsDrawer = false" Icon="@Icons.Material.Outlined.Close" Color="Color.Primary" aria-label="close" />
			</div>
		</div>
		<div class="log-details-container">
			<div class="drawer-flex">
				@Localizer[Locales.Resource._Resource]
				<b>@currentLog.ResourceName</b>
				<div style="margin-left: auto;">
					<b>@currentLog.Timestamp.Value.ToString("dd.MM.yyyy HH:mm:ss")</b>
				</div>
			</div>
			<div class="details-row">
				<div class="details-key">Scope</div>
				<div class="details-value text-overflow">@currentLog.ScopeName</div>
			</div>
			<div class="details-row">
				<div class="details-key">Service instance</div>
				<div class="details-value text-overflow">@currentLog.ServiceInstanceId</div>
			</div>
			<div class="details-row">
				<div class="details-key">Trace Id</div>
				<div class="details-value text-overflow">@currentLog.TraceId</div>
			</div>
			<div class="details-row">
				<div class="details-key">Span Id</div>
				<div class="details-value text-overflow">@currentLog.SpanId</div>
			</div>
			<div class="details-row">
				<div class="details-key">Flags</div>
				<div class="details-value text-overflow">@currentLog.Flags</div>
			</div>
			<div class="details-row">
				<div class="details-key">Severity</div>
				<div class="details-value text-overflow">@currentLog.Severity</div>
			</div>
			<div class="details-row">
				<div class="details-key">Message</div>
				<div class="details-value" style="font-family: Consolas; color: #CE9178;">
					@currentLog.Message
				</div>
			</div>
			<div class="details-row">
				<div class="details-key">Telemetry SDK Name</div>
				<div class="details-value text-overflow">@currentLog.TelemetrySdkName</div>
			</div>
			<div class="details-row">
				<div class="details-key">Telemetry SDK Language</div>
				<div class="details-value text-overflow">@currentLog.TelemetrySdkLanguage</div>
			</div>
			<div class="details-row">
				<div class="details-key">Telemetry SDK Version</div>
				<div class="details-value text-overflow">@currentLog.TelemetrySdkVersion</div>
			</div>
		</div>
	}	
</MudDrawer>
