@page "/traces"
@page "/traces/{ResourceParameter}"
@page "/traces/{ResourceParameter}/{TimestampParameter}"
@page "/traces/{ResourceParameter}/{TimestampParameter}/{RoutesOnlyParameter}"

@using ContainerControlPanel.Domain.Models
@using MudBlazor

<div class="label">
	<h1>@Localizer[Locales.Resource.Traces]</h1>
</div>

@{
	List<ResourceSpan> traces = allTraces.GetTracesList(
		filter: currentResource, 
		routesOnly: routesOnly, 
		timestamp: currentTimestamp,
		timeOffset: int.Parse(Configuration["TimeOffset"])
	);
}

@if (allTraces.Count > 0) 
{
	<div class="flex">
		<div class="resource-select">
			<MudSelect T="string" Label="@Localizer[Locales.Resource.ChooseResource]" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" @bind-Value="currentResource">
				<MudSelectItem Value="@("all")">(@Localizer[Locales.Resource.All])</MudSelectItem>
				@foreach (var resource in allTraces.GetResources())
				{
					<MudSelectItem Value="@(resource)">@resource</MudSelectItem>
				}
			</MudSelect>
		</div>
		<div class="picker">
			<MudDatePicker Label="@Localizer[Locales.Resource.ChooseTimestamp]" @bind-Date="currentTimestamp" Clearable="true" DateFormat="dd.MM.yyyy" />
		</div>
		<div class="switch">
			<MudSwitch @bind-Value="routesOnly" Label="@Localizer[Locales.Resource.RoutesOnly]" Color="Color.Success" />
		</div>
	</div>
}

<div class="data-grid">
	<div class="data-grid-row header">
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Timestamp]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Request]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Source]
		</div>
		<div class="data-grid-cell">
			@Localizer[Locales.Resource.Duration]
		</div>
	</div>
	@if (traces.Count < 1)
	{
		<div class="data-grid-row data" style="text-align: center;">
			@Localizer[Locales.Resource.NoTracesFound].
		</div>
	}
	else 
	{
		<div class="data-container">
			@foreach (var trace in traces)
			{
				<div @onclick="() => { LoadTrace(trace.GetTraceId()); }" class="data-grid-row data">
					<div class="data-grid-cell">
						@{
							DateTime timestamp = trace.GetTimestamp(int.Parse(Configuration["TimeOffset"]));
						}
						@if (timestamp.Date == DateTime.Now.Date)
						{
							<span class="timestamp-span">
								@Localizer[Locales.Resource.Today]
							</span>
						}
						@if (timestamp.Date == DateTime.Now.AddDays(-1).Date) 
						{
							<span class="timestamp-span">
								@Localizer[Locales.Resource.Yesterday]
							</span>
						}
						else if (timestamp.Date == DateTime.Now.AddDays(-2).Date)
						{
							<span class="timestamp-span">
								@Localizer[Locales.Resource._2DaysAgo]
							</span>
						}
						else if (timestamp.Date != DateTime.Now.Date)
						{
							<span class="timestamp-span">
								@timestamp.ToString("dd MMMM")
							</span>
						}
						@timestamp.ToString("HH:mm:ss")
					</div>
					<div class="data-grid-cell">
						@trace.GetTraceName()
						<div class="trace-id">
							@trace.GetTraceId()
						</div>
					</div>
					<div class="data-grid-cell">
						<div class="service-name-container">
							<div class="service-name-badge" style="background-color: #@(GetHexString(@trace.GetServiceName()))"></div>
							@trace.GetServiceName()
						</div>
					</div>
					<div class="data-grid-cell">
						@trace.GetDuration().FormatDuration(false)
					</div>
				</div>
			}
		</div>	
	}
</div>
<div class="footer">
	@Localizer[Locales.Resource.TotalNumberOfFoundTraces]: <b>@traces.Count</b>
</div>