@page "/traces"
@using ContainerControlPanel.Domain.Models
@using MudBlazor

<div class="label">
	<h1>Traces</h1>
</div>

@if (allTraces.Count > 0) 
{
	<div class="flex">
		<div style="margin-left: 26px; margin-bottom: 24px; width: 200px;">
			<MudSelect T="string" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" @bind-Value="currentResource">
				<MudSelectItem Value="@("all")">(All)</MudSelectItem>
				@foreach (var resource in allTraces.SelectMany(r => r.ResourceSpans)
							.Select(rs => rs.Resource?.Attributes?
							.FirstOrDefault(a => a.Key == "service.name")?.Value?.StringValue)
							.Where(serviceName => !string.IsNullOrEmpty(serviceName))
							.Distinct()
							.ToList())
				{
					<MudSelectItem Value="@(resource)">@resource</MudSelectItem>
				}
			</MudSelect>
		</div>
		<div class="switch">
			<MudSwitch @bind-Value="routesOnly" Label="Routes only" />
		</div>
	</div>
}

<div class="data-grid">
	<div class="data-grid-row header">
		<div class="data-grid-cell">
			Timestamp
		</div>
		<div class="data-grid-cell">
			Request
		</div>
		<div class="data-grid-cell">
			Source
		</div>
		<div class="data-grid-cell">
			Duration
		</div>
		<div class="data-grid-cell">
			Action
		</div>
	</div>
	@if (allTraces.GetTracesList(filter: currentResource, routesOnly: routesOnly).Count < 1)
	{
		<div class="data-grid-row data" style="text-align: center;">
			No traces found
		</div>
	}
	else 
	{
		@foreach (var trace in allTraces.GetTracesList(filter: currentResource, routesOnly: routesOnly))
		{
			<div class="data-grid-row data">
				<div class="data-grid-cell">
					@{
						DateTime timestamp = trace.GetTimestamp(int.Parse(Configuration["TimeOffset"]));
					}
					@if (timestamp.Date == DateTime.Now.AddDays(-1).Date) 
					{
						<span class="timestamp-span">
							Yesterday
						</span>
					}
					else if (timestamp.Date == DateTime.Now.AddDays(-2).Date)
					{
						<span class="timestamp-span">
							2 days ago
						</span>
					}
					else if (timestamp.Date != DateTime.Now.Date)
					{
						<span class="timestamp-span">
							@timestamp.ToString("dd MMMM")
						</span>
					}
					@timestamp.ToString("HH:mm:ss")
				</div>
				<div class="data-grid-cell">
					@trace.GetTraceName()
				</div>
				<div class="data-grid-cell">
					<div class="service-name-container">
						<div class="service-name-badge" style="background-color: #@(GetHexString(@trace.GetServiceName()))"></div>
						@trace.GetServiceName()
					</div>
				</div>
				<div class="data-grid-cell">
					@trace.GetDuration().Milliseconds.ToString() ms
				</div>
				<div class="data-grid-cell">
				</div>
			</div>
		}
	}
</div>