@using ContainerControlPanel.Web.Enums
@using MudBlazor;
@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        @(ActionType == ActionType.Start 
            ? @Localizer[Locales.Resource.Start] 
            : @Localizer[Locales.Resource.Restart]) 
        @Localizer[Locales.Resource.Container].ToString().ToLower()
    </TitleContent>
    <DialogContent>
        <div class="question">
            @Localizer[Locales.Resource.HowDoYouWant] 
            @(ActionType == ActionType.Start
                ? @Localizer[Locales.Resource.StartInfinitive]
                : @Localizer[Locales.Resource.RestartInfinitive])
            @Localizer[Locales.Resource.Container].ToString().ToLower()?
        </div>
        <div class="action-btn">
            <MudButton Color="Color.Primary" OnClick="async () => { await Just(); }">
                @Localizer[Locales.Resource.Just]
                @(ActionType == ActionType.Start
                    ? @Localizer[Locales.Resource.Start]
                    : @Localizer[Locales.Resource.Restart])
            </MudButton><br /><br />
        </div>
        <div class="action-btn">
            <MudButton Disabled="ComposeFile is null" Color="Color.Primary" OnClick="async () => { await ByCompose(); }">
                @(ActionType == ActionType.Start
                    ? @Localizer[Locales.Resource.Start]
                    : @Localizer[Locales.Resource.Restart])
                @Localizer[Locales.Resource.DockerCompose]
            </MudButton><br /><br />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Cancel">@Localizer[Locales.Resource.Cancel]</MudButton>
    </DialogActions>
</MudDialog>
@if (loading)
{
    <div class="loading">
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    </div>
}