@using ContainerControlPanel.Web.Enums
@using MudBlazor;

<MudDialog>
    <TitleContent>
        @(ActionType == ActionType.Start 
            ? @Localizer[Locales.Resource.Start] 
            : @Localizer[Locales.Resource.Restart]) 
        @Localizer[Locales.Resource.Container].ToString().ToLower()
    </TitleContent>
    <DialogContent>
        <div class="question">
            @Localizer[Locales.Resource.HowDoYouWant] 
            @(ActionType == ActionType.Start
                ? @Localizer[Locales.Resource.StartInfinitive]
                : @Localizer[Locales.Resource.RestartInfinitive])
            @Localizer[Locales.Resource.Container].ToString().ToLower()?
        </div>
        <MudButton Color="Color.Primary" OnClick="() => { ChooseOption(StartOption.JustStart); }">
            @Localizer[Locales.Resource.Just]
            @(ActionType == ActionType.Start
                ? @Localizer[Locales.Resource.Start]
                : @Localizer[Locales.Resource.Restart])
        </MudButton><br /><br />
        <MudButton Color="Color.Primary" OnClick="() => { ChooseOption(StartOption.ReinstallAndStart); }">
            @Localizer[Locales.Resource.ReinstallImageAnd] 
            @(ActionType == ActionType.Start
                ? @Localizer[Locales.Resource.Start]
                : @Localizer[Locales.Resource.Restart])
        </MudButton><br /><br />
        <MudButton Color="Color.Primary" OnClick="() => { ChooseOption(StartOption.StartByCompose); }">
            @(ActionType == ActionType.Start
                ? @Localizer[Locales.Resource.Start]
                : @Localizer[Locales.Resource.Restart])
            @Localizer[Locales.Resource.DockerCompose]
        </MudButton><br /><br />
        <MudButton Color="Color.Primary" OnClick="() => { ChooseOption(StartOption.ReinstallAndStartByCompose); }">
            @Localizer[Locales.Resource.ReinstallImageAnd] 
            @Localizer[Locales.Resource.Start]
            @Localizer[Locales.Resource.DockerCompose]
        </MudButton><br /><br />
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Cancel">@Localizer[Locales.Resource.Cancel]</MudButton>
    </DialogActions>
</MudDialog>